root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = tab
insert_final_newline = false
trim_trailing_whitespace = true

[*.cs]
dotnet_diagnostic.IDE0005.severity = error
dotnet_sort_system_directives_first = true

[*.{yml,yaml}]
indent_style = space
indent_size = 2